.btn{
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    &__search{
        &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
        &:hover path{
            fill: #7BC4DB;
            transition: all 0.5s ease;
        }
    }
    &__submit{
        background-color: white;
        font-size: 15px;
        border-radius: 15px;
        padding: 5px 10px;
        transition: all 0.5s ease;
        &:hover{
            background-color: #7BC4DB;
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
    }

    &__next{
        color: white;
        font-size: 20px;
    }

    &__back{
        margin-right: 15px;
        color: white;
        font-size: 20px;
        transition: all 0.5s ease;
        &:hover{
            color: #7BC4DB;
            transition: all 0.5s ease;
        }
    }
    &__next{
        color: white;
        font-size: 20px;
        transition: all 0.5s ease;
        &:hover{
            color: #7BC4DB;
            transition: all 0.5s ease;
        }
    }

    &__close{
        position: absolute;
        right: -30px;
        top: 0;
        &::before{
            display: block;
            content: '';
            width: 20px;
            height: 2px;
            transform: rotate(45deg);
            background-color: white;
        }
        &::after{
            display: block;
            content: '';
            width: 20px;
            height: 2px;
            transform: rotate(-45deg) translateY(-2px);
            background-color: white;
        }
    }

}

@media screen and (max-width:550px){
    .btn{
        &__close{
            right: 25px;
        }
    }
}