.preview{
    margin-top: 120px;
    &__slide{
        display: flex;
        &-info{
            padding-left: 50px;
        }
    }

    &__info{
        padding-top: 20px;
        font-size: 20px;
        color: #FFFFFF;
    }
    
    &__img{
        height: 100vh;
        img{
            object-fit: cover;
            max-height: 90%;
        }
    }
    &__title{
        font-size: 60px;
        font-weight: 700;
        width: 600px;
        color: #FFFFFF;
    }
    &__descr{
        font-size: 22px;
        padding-top: 40px;
        max-width: 500px;
        color: #FFFFFF;
    }
    &__rating{
        padding-top: 60px;
    }
    &preview__actor{
        width: 500px;
    }
}