*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: Black;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}


.swiper {
    width: 100%;
    height: 100%;
}


.top{
    color: green;
    border: 1px solid green;
}

.medium {
    color: yellow;
    border: 1px solid yellow;
}

.bad {
    color: red;
    border: 1px solid red;
}

.load{
    position: absolute;
    font-size: 18px;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
    color: white;
}


@import '../../node_modules/swiper/swiper.scss';


@import 'blocks/header';
@import 'blocks/preview';
@import './blocks/films';

@import 'blocks/buttons';
@import 'blocks/modal';